@font-face {
  font-family: "Digital-7 Mono";
  src: url("./fonts/Digital-7Mono.eot");
  src: url("./fonts/Digital-7Mono.eot?#iefix") format("embedded-opentype"),
    url("./fonts/Digital-7Mono.woff2") format("woff2"),
    url("./fonts/Digital-7Mono.woff") format("woff"),
    url("./fonts/Digital-7Mono.ttf") format("truetype"),
    url("./fonts/Digital-7Mono.svg#Digital-7Mono") format("svg");
  font-weight: normal;
  font-style: normal;
}

.vwdc_time,
.vwdc_date,
.vwdc_background {
  text-align: center;
  font-size: 6.5rem; 
  color: rgb(200, 20, 0);
  line-height: 1em;
  vertical-align: middle;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}

.vwdc_time,
.vwdc_background {
  font-family: "Share Tech Mono", monospace;
  font-family: "Digital-7 Mono";
  font-size: 6.5rem; 
}

.vwdc_time {
  position: relative;
  z-index: 2;
  text-shadow: 0 0 10px rgb(200, 20, 0);
}

.vwdc_date { 
  font-size: 2.5rem; 
  text-shadow: 0 0 10px rgb(200, 20, 0);
}

.vwdc_background {
  position: absolute;
  z-index: 1;
  opacity: 0.2;
}

.vwdc_clock {
  position: relative;
  padding: 15px;
}

@media (max-height: 720px) {
  .vwdc_time,
  .vwdc_date,
  .vwdc_background {
    font-size: 24px;
  }
}
