@font-face {
  font-family: "Digital-7 Mono";
  src: url("./fonts/Digital-7Mono.eot");
  src: url("./fonts/Digital-7Mono.eot?#iefix") format("embedded-opentype"),
    url("./fonts/Digital-7Mono.woff2") format("woff2"),
    url("./fonts/Digital-7Mono.woff") format("woff"),
    url("./fonts/Digital-7Mono.ttf") format("truetype"),
    url("./fonts/Digital-7Mono.svg#Digital-7Mono") format("svg");
  font-weight: normal;
  font-style: normal;
}

.vwdt_timer {
  text-align: center;
  vertical-align: middle;
  font-family: "Share Tech Mono", monospace;
  font-family: "Digital-7 Mono";
  font-weight: 500;
  font-size: 2rem;
}
