
/* Incidnet List Vue */
.vwi__incidents {
/*    color: rgb(255, 255, 255);*/
	color: hsl(0, 0%, 85%);
	width: 100%;
	padding: 0; /* Remove padding */
	margin: 0; /* Remove margins */
}

ul.vwi__incidents_list {
	width:  100%;
	padding: 0; /* Remove padding */
	margin: 0; /* Remove margins */
}


ul.vwi__incidents_list li {
	list-style-type: none; /* Remove bullets */
	padding: 5px 10px; /* Remove padding */
	margin: 0; /* Remove margins */
}

ul.vwi__incidents_list li:nth-child(even) {
	background-color: hsl(215, 10%, 10%);
}

ul.vwi__incidents_list li:nth-child(even):before {
	background-color: hsl(215, 10%, 10%);
	position: absolute;
	height: 100%;
	width: 5px;
	left: -5px;
	z-index: -1;
}

/* Units List Vue */
div.vwi__units {
	display:  flex;
	flex-flow:  row wrap;
	justify-content: flex-start;
}

span.vwi__unit {
	display: inline-block;
	text-align: center;
	vertical-align: middle;
	margin: 0.25rem 0.25rem;
	border-radius: 4px;
	font-size: 1.5rem;
	padding: 0.0875rem 0.275rem 0.0055rem;
	color: #f2dede;
	border-style: solid;
	border-width: 1px;
	border-color: #f2dede;
	background-color: #d9534f;
	font-weight: bold;
}

.vwi__title {
	font-size: 1.5rem;
	text-align: left;
}

.vwi__address {
	display: block;
	margin: 2px 0;
	font-size: 1.5rem;
	margin-right: 3px;
	font-weight: normal;
	text-align: left;
	color: rgb(241, 101, 34);
}

.vwi__city {
	color: #4a4a4a;
}

.vwi__call_info {
	text-align: left;
	font-size: 1.5rem;
	color: rgb(139, 148, 158);
}

span.vwi__radio_channel {
	text-align: left;
}

span.vwi__radio_channel svg {
	color: #ffc107;
}


.vwi__unit_status_iq 	{ color:#1f1f1f !important; border-color:#1f1f1f !important; background-color: #33a02c !important;}
.vwi__unit_status_av 	{ color:#1f1f1f !important; border-color:#1f1f1f !important; background-color: #b2df8a !important;}
.vwi__unit_status_busy 	{ color:#1f1f1f !important; border-color:#1f1f1f !important; background-color: #e31a1c !important;}
.vwi__unit_status_d 	{ color:#ffffff !important; border-color:#ffffff !important; background-color: #000000 !important;}
.vwi__unit_status_er 	{ color:#1f1f1f !important; border-color:#1f1f1f !important; background-color: #fdbf6f !important;}
.vwi__unit_status_st 	{ color:#1f1f1f !important; border-color:#1f1f1f !important; background-color: #e17f00 !important;}
.vwi__unit_status_os 	{ color:#1f1f1f !important; border-color:#1f1f1f !important; background-color: #fb9a99 !important;}
.vwi__unit_status_ai 	{ color:#ffff00 !important; border-color:#ffff00 !important; background-color: #ff0000 !important;}
.vwi__unit_status_to 	{ color:#1f1f1f !important; border-color:#1f1f1f !important; background-color: #a6cee3 !important;}
.vwi__unit_status_at 	{ color:#1f1f1f !important; border-color:#1f1f1f !important; background-color: #1f78b4 !important;}
.vwi__unit_status_od 	{ color:#0080c0 !important; border-color:#0080c0 !important; background-color: #c0c0c0 !important;}
.vwi__unit_status_ed 	{ color:#ffff00 !important; border-color:#ffff00 !important; background-color: #c0c0c0 !important;}
.vwi__unit_status_ma 	{ color:#8000ff !important; border-color:#8000ff !important; background-color: #000000 !important;}
.vwi__unit_status_d2 	{ color:#ffffff !important; border-color:#ffffff !important; background-color: #c0c0c0 !important;}
.vwi__unit_status_e2 	{ color:#ffff00 !important; border-color:#ffff00 !important; background-color: #c0c0c0 !important;}
.vwi__unit_status_o2 	{ color:#0080c0 !important; border-color:#0080c0 !important; background-color: #c0c0c0 !important;}
.vwi__unit_status_off 	{ color:#000000 !important; border-color:#000000 !important; background-color: #e6e6e6 !important;}
.vwi__unit_status_clear { color:rgb(139, 148, 158) !important; border-color:rgb(139, 148, 158) !important; background-color: #4a4a4a !important;}

/* Define an animation behavior */
@keyframes spinner {
  to { transform: rotate(360deg); }
}
/* This is the class name given by the Font Awesome component when icon contains 'spinner' */
.fa-spinner {
  /* Apply 'spinner' keyframes looping once every second (1s)  */
  animation: spinner 1s linear infinite;
}