/**/

#vwia__fullScreenAlert .modal-dialog {
    max-width: 100%;
    margin: 0;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100vh;
    display: flex;
    background-color: rgb(34, 34, 34);
}

#vwia__fullScreenAlert .modal-dialog .modal-content {
	background-color: rgb(34, 34, 34);
	color: rgb(250, 250, 250);
}

.vwia__mapbox .vwia__xstreet {
	display: inline-block;
}

.vwia__incident {
	max-width: 100%;
	width: 100%;
}
/*div.modal-dialog {
    max-width: 100%;
    margin: 0;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100vh;
    display: flex;
}*/


/* Units List Vue */
div.vwia__units {
	display:  flex;
	flex-flow:  row wrap;
	justify-content: flex-start;
}

span.vwia__unit {
	display: inline-block;
	text-align: center;
	vertical-align: middle;
	margin: 0.25rem 0.25rem;
	border-radius: 4px;
	font-size: 1.5rem;
	padding: 0.0875rem 0.275rem 0.0055rem;
	color: #f2dede;
	border-style: solid;
	border-width: 1px;
	border-color: #f2dede;
	background-color: #d9534f;
	font-weight: bold;
}

.vwia__title {
	font-size: 1.5rem;
	text-align: left;
}

.vwia__address {
	display: block;
	margin: 2px 0;
	font-size: 1.5rem;
	margin-right: 3px;
	font-weight: normal;
	text-align: left;
}

.vwia__city {
	color: #4a4a4a;
}

.vwia__unit_status_iq 	{ color:#1f1f1f !important; border-color:#1f1f1f !important; background-color: #33a02c !important;}
.vwia__unit_status_av 	{ color:#1f1f1f !important; border-color:#1f1f1f !important; background-color: #b2df8a !important;}
.vwia__unit_status_busy 	{ color:#1f1f1f !important; border-color:#1f1f1f !important; background-color: #e31a1c !important;}
.vwia__unit_status_d 	{ color:#ffffff !important; border-color:#ffffff !important; background-color: #000000 !important;}
.vwia__unit_status_er 	{ color:#1f1f1f !important; border-color:#1f1f1f !important; background-color: #fdbf6f !important;}
.vwia__unit_status_st 	{ color:#1f1f1f !important; border-color:#1f1f1f !important; background-color: #e17f00 !important;}
.vwia__unit_status_os 	{ color:#1f1f1f !important; border-color:#1f1f1f !important; background-color: #fb9a99 !important;}
.vwia__unit_status_ai 	{ color:#ffff00 !important; border-color:#ffff00 !important; background-color: #ff0000 !important;}
.vwia__unit_status_to 	{ color:#1f1f1f !important; border-color:#1f1f1f !important; background-color: #a6cee3 !important;}
.vwia__unit_status_at 	{ color:#1f1f1f !important; border-color:#1f1f1f !important; background-color: #1f78b4 !important;}
.vwia__unit_status_od 	{ color:#0080c0 !important; border-color:#0080c0 !important; background-color: #c0c0c0 !important;}
.vwia__unit_status_ed 	{ color:#ffff00 !important; border-color:#ffff00 !important; background-color: #c0c0c0 !important;}
.vwia__unit_status_ma 	{ color:#8000ff !important; border-color:#8000ff !important; background-color: #000000 !important;}
.vwia__unit_status_d2 	{ color:#ffffff !important; border-color:#ffffff !important; background-color: #c0c0c0 !important;}
.vwia__unit_status_e2 	{ color:#ffff00 !important; border-color:#ffff00 !important; background-color: #c0c0c0 !important;}
.vwia__unit_status_o2 	{ color:#0080c0 !important; border-color:#0080c0 !important; background-color: #c0c0c0 !important;}
.vwia__unit_status_off 	{ color:#000000 !important; border-color:#000000 !important; background-color: #e6e6e6 !important;}
.vwia__unit_status_clear { color:#ffffff !important; border-color:#ffffff !important; background-color: #4a4a4a !important;}

.leaflet-control-attribution.leaflet-control {display: none!important;}